/* .shop-container{
    display: flex;
    margin-top: 30px;
}
.product-container{
    height: 150px;
    width: 70%;
    margin-left: 20px;
    margin-right: 5px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.p-container{
    display: grid;
    grid-template-columns: 150px 200px 200px 200px;
}
.checkOut-cart{
    height: 300px;
    width: 300px;
}
.cart{
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}
.quantity{
    display: flex;
}
.m-btn{
    height: 30px;
    width: 30px;
    border: none;
    align-items: center;
} */
.shoping{
    text-decoration: none;
    color: rgba(red, green, blue, alpha);
    border-radius: 5px solid;
}