.footer{
    background-color: #130f40;
}
.ft{
    margin-top: 30px;
}
.footer-item{
    margin-top: 30px;
}
.footer-social{
    height: 30px;
    width: 30px;
}
.footer-text{
    font-weight: normal;
    color: #FFFFFF;
}